
<div *ngIf="nome != 'Carlos Tavares' ">
    <p [ngClass]="{'active': valor, 'disabled': !valor}">ngClass works!</p>
    
    <p [ngStyle]="{'height': heightA, 'background': backcolor }">NgStyle works!</p>
</div>
    
<hr>

<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>

<li *ngFor="let item of list">{{item.nome}} </li>

<hr>

<ng-template ngFor let-item [ngForOf]="list">
    <p>
        {{item.nome}}
    </p>
</ng-template>

<input [(ngModel)]="nome">
<button (click)="salvar()">Salvar</button>